/*-------- Global --------*/
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-size: 100%;
  vertical-align: baseline;
  background: white;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.wrapper {
  padding: 1.5em 1.5em 0 1.5em;
  margin: 0;
  background-color: green;
}

.title {
  font-size: 24px;
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .wrapper {
    padding: 3em 9em 0 9em;
    background-color: purple !important;
  }

  .title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }

  footer {
    position: absolute;
    bottom: 0;
    height: 60px;
  }

  footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

/* Tablet */
@media only screen and (min-width: 600px) {
  .wrapper {
    padding: 2em 5em 0 5em;
    background-color: red;
  }

  .title {
    font-size: 24px;
  }

  footer {
    font-size: 14px;
  }
}
