.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }

  .logo {
    display: flex;
    flex-direction: row;
  }

  .star {
    margin-top: 15px;
    display: flex;
    cursor: pointer;
  }

  .star > iframe {
    position: absolute;
    right: 0;
  }
}

/* Mobile */
@media only screen and (min-width: 992px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    a {
      text-decoration: none;
      color: black;
      font-size: 24px;
      font-weight: bold;
    }

    .logo {
      display: flex;
      flex-direction: row;
    }

    .star {
      margin-top: 15px;
      display: flex;
      cursor: pointer;
    }
  }
}
