.header-wrapper {
  display: flex;

  justify-content: space-between;
}

.header-wrapper a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.header-wrapper .logo {
  display: flex;
  flex-direction: row;
}

.header-wrapper .star {
  margin-top: 15px;
  display: flex;
  float: right;
  cursor: pointer;
  transition: fill 0.4s ease;
}

.header-wrapper .star:hover {
  fill: black;
}
